.fondo {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  border-bottom: 1px solid #05305E;
  padding-top: .5rem;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: rgb(255, 255, 255) !important;
}

.logout {
  font-size: 1rem;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 2px;
  /* margin: 10px; */
  text-decoration: none;
  color: rgb(49, 46, 46);
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-top: -50px;
}

.google {
  width: 180px;
  padding-top: 15px;
  margin: 10px;
  text-align: center;
  margin-right: 80px;  
}

.size {
  width: 140px;
}

/* logo */

.logo {
  width: 200px;
}

nav {
  text-align: center;
  height: 70px;
  margin-top: 20px;
}

/* nav-footer */

.nav-footer {
  color: red;
  position: fixed;
  bottom: 0;
  color: #ffffff !important;
  background-color: #2EB3E7;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-footer li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
}

/* user */

.user {
  width: 100%;
  background-color: rgb(250, 250, 250);
  text-align: end;
  padding: .3rem;
  margin: 0;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
}

.name {
  font-size: 1rem;
  list-style: none;
  color: #000000;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin-right: .5rem;
}

.inputSearch {
  width: 70%;
}

.iam {
  color: #19A5AB;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-top: 1rem;
}

.card-text {
  float: right;
  margin-top: -25px;
}

.card-title {
  width: 70%;
}

.card-img {
  width: 25% !important;
  float: right;
  margin-right: -50px;
  margin-top: -40px;
}

.card-button {
  margin: 10px;
  background:  #2EB3E7;
  border: none;
  padding: 10px 60px;
  color: white;
}

.card-ult {
  margin-bottom: 60px;
}

.img-li {
  display: block;
}